.hero_container {
  position: relative;
  height: 60vh;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero_container .hero_img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero_container .hero_title {
  position: relative;
  text-align: center;
  color: white;
}

.hero_container .hero_subtitle {
  position: relative;
  text-align: center;
  color: white;
}
